#!/bin/bash

# Add script directory to PATH
PATH_add "${PWD}/script"

# Python for the Linode CLI
layout python3

# Linode CLI
if ! command -v linode-cli &>/dev/null; then
	echo "Installing Linode CLI"
	pip install linode-cli
fi

# EOF
