{
	email {env.ACME_EMAIL}
	acme_dns linode {
		api_token {env.LINODE_PERSONAL_ACCESS_TOKEN}
	}
}

(headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

		# disable clients from sniffing the media type
		X-Content-Type-Options nosniff

		# clickjacking protection
		X-Frame-Options DENY

		# keep referrer data off of HTTP connections
		Referrer-Policy no-referrer-when-downgrade
	}
}

docwhat.org {
	encode
	import headers

	route {
		# Queries used by 'go get' to fetch package metadata.
		# 'docwhat/go-importd' checks Git Hub and redirects there.
		@go-get expression `query({'go-get': '1'}) && method('GET', 'HEAD')`
		reverse_proxy @go-get http://go-importd:80

		# Street Cleaning calendar.
		root /street-cleaning.ics /srv/street-cleaning

		root /srv/docwhat
		file_server
	}
}

www.docwhat.org {
	redir https://docwhat.org{uri}
}

void.docwhat.org {
	encode
	import headers
    root /srv/void
	file_server
}

gerf.org {
	redir https://docwhat.org{uri}
}

christian.holtje.org, holtje.org {
	redir https://docwhat.org{uri}
}

# robin.holtje.org, robin.holtje.org {
# 	redir https://docwhat.org{uri}
# }

1993.docwhat.org {
	encode
	root /srv/1993
	file_server
	import headers
}
